body
{
    font-size: 11px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #333;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
}

#container
{
  width: 100%;
  background: none;
}

#content
{
  padding: 25px;
  padding-top: 0;
}

#menu
{
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

#menu li
{
  margin-right: 15px;
  display: inline;
}

#content h1
{
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
  font-size: 140%;
  color: #000;
}

td, th
{
  padding: 7px;
}

th
{
  font-weight: bold;
}

#footer
{
  clear: both;
  padding: 25px;
  margin-top: 0;
  height: auto;
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
  background: none;
}

#footer img
{
  vertical-align: middle;
}

#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#header h1
{
  width: auto;
}


/* Menu principal */
#menu-principal ul li a {
	background-color: #e6e6e6;
	border: 1px solid #fff;
	color: #464646;
}

#menu-principal ul li a:hover {
	color: #fff;
	border: 1px solid #1a5f7e;
	background-color: #1a5f7e;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
}

/******************* Menu principal ***********************/
#menu-principal ul li {
	font-size: 16px;
	float: left;
	margin: 2px;
	list-style: none;
}

#menu-principal ul li a {
	display: block;
	padding: 5px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
}

#menu-principal ul li a:link,#menu-principal ul li a:visited,#menu-principal ul li a:hover,#menu-principal ul li a:active
	{
	text-decoration: none;
}

.jd_menu {
	display: none;
	position: absolute;

	width: 150px;

	list-style-type: none;

	margin: 0px;
	padding: 0px;

	border-width: 1px;
	border-style: solid;
	border-color: #6699CC #003366 #003366 #6699CC;
	border-top: none;
	border-bottom: none;

	background-color: #336699;

	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	text-align: left;
	text-decoration: none;

	cursor: pointer;
}

.jd_menu li {
	border-top: 1px solid #6699CC;
	border-bottom: 1px solid #003366;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
}

.jd_menu li img {
	margin-left: -2px;
	margin-bottom: -4px;
	margin-right: 2px;
}

.jd_menu_active {
	display: block;
}

li.jd_menu_title {
	font-weight: bold;
}

.jd_menu .jd_menu_hover {
	border-top: 1px solid #99CCFF;
	background-color: #6699CC;
}

.jd_menu_inline {
	list-style-type: none;
	width: 99%;
	margin: 0px;
	padding: 0px;
}

.jd_menu_inline li {
	border: 0px;
	font-weight: normal;
}

.jd_menu_inline_hover {
	text-decoration: underline;
}

.clear {
	clear: both; /* float:none;  */
}

table{
    width: 90%;
margin: 10px 5%;
border-spacing: 0;
text-align: left;
}

table thead{
    background-color: #e6e6e6;
    display: table-header-group;
vertical-align: middle;
border-color: inherit;
border-spacing: 0;
text-align: left;
}

tr, th, td{
    padding: 5px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
