
#navMenu {
	margin:0; 
	padding:0;
	list-style:none;	
	font-family:arial;
	text-align:center;
	line-height:60px;
}

	#navMenu li {
		float:left;	
		background:url(/images/default.jpg) no-repeat center center;	/* default background image	*/
		width:120px;							/* width and height of the menu item */
		height:70px;
		border-left:1px solid #111;				/* simulate pixel perfect using border */
		border-right:1px solid #333;
		border-top:1px solid #555;
		border-bottom:1px solid #333;
		position:relative;			/* must set it as relative, because .hover class top and left with absolute position will be positioned according to li.	*/
	}

	#navMenu li a {
		z-index:20;		/* z-index must be higher than .hover class */
		display:block;	/* display as block and set the height according to the height of the menu to make the whole LI clickable	*/
		height:70px;
		position:relative;
		color:turquoise;
               
	}

 	#navMenu li .hover {
		background:url(/images/over.jpg) no-repeat center center;		/* mouseover image	*/
		position:absolute;	/* must be postion absolute 	*/
		width:120px;	/*	width, height, left and top to fill the whole LI item	*/
		height:70px;
		left:0; 
		top:0;	
		z-index:0;		/* display under the Anchor tag	*/
		display:none;	/* hide it by default	*/
	}	

	#navMenu li.selected {
		background:url(/images/selected.jpg) no-repeat center center;	/* selected image	*/
	}
