/* 
    Document   : frontend
    Created on : 09-may-2012, 11:21:09
    Author     : fabian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.imageMenuEstudiar{
    height: 200px;
    width: 200px;
    border:1px solid #99CCFF;
}

.imageMenuEstudiar2{
    height: 200px;
    width: 200px;
    border:1px solid #99CCFF;
    margin-left: 155px;
}


label {display:block;font-weight:bold;} 
legend {font-size:120%;} 
fieldset {border:none;} 
input, textarea {border:1px solid #000;} 
input:focus, textarea:focus {background:#99CCFF;} 


#textoDocumento h1{

background: transparent;
    color: #000;
}

#textoDocumento{
    background: inherit;

}

#albumes{
background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom;

}

#fotos{
 background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom;
   
}


