/* 
    Document   : frontend
    Created on : 09-may-2012, 11:21:09
    Author     : fabian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.imageMenuEstudiar{
    height: 200px;
    width: 200px;
    border:1px solid #99CCFF;
}


label {display:block;font-weight:bold;} 
legend {font-size:120%;} 
fieldset {border:none;} 
input, textarea {border:1px solid #000;} 
input:focus, textarea:focus {background:#99CCFF;} 


